 .page1 {
        font-family: "IBM Plex Sans Thai", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: rgb(246, 240, 210);
        border-radius: 15px; /* ขอบมน */
        padding: 20px; /* เพิ่มพื้นที่ภายใน */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* เงา */
        font-size: 18px; /* ขนาดฟอนต์ */
        display: flex; /* เปิดใช้งาน Flexbox */
        flex-direction: column; /* จัดเรียงในแนวตั้ง */
        align-items: center; /* จัดกลางแนวนอน */
    }


 